/* Header */
.home .logo {
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 10px;
}

.tel {
  text-align: center;
  margin-bottom: 20px;
  color: #1E335D;
  font-size: 1.2rem;
}

/* Header END */


/* Portada */
#portada {
  background-image: url("./../Links/Portada.jpg");
  background-size: cover;
  height: auto;
  background-position: 10% 50%;
}

.atencion {
  height: 60px;
  position: sticky;
  float: left;
}

.txt-portada-1 {
  font-size: 1rem;
  color: #1E335D;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0;
}

.txt-portada-2 {
  font-size: 1.5rem;
  color: #1E335D;
  padding-left: 20px;
}

/* Portada Formulario */
.contact-form {
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  /*transform: translate(2%);*/
  width: 300px;
  border: solid 1px #dcdada;
}

.contact-form-txt h2 {
  font-size: 1rem;
  color: #1E335D;
  text-align: center;
}

.contact-form-txt h3 {
  font-size: 0.6rem;
  color: #1E335D;
  text-align: center;
}

.contact-form-txt p {
  font-size: 0.6rem;
  padding: 5px;
  margin: 0;
}

input,
textarea {
  border: 0;
  outline: none;
  border: solid 1px #ccc;
  padding: 2%;
  width: 100%;
  height: 100%;
}

.contact-form-btn {
  background: #1E335D;
  padding: 2%;
  text-align: center;
}

.contact-form-btn button {
  background: none;
  border: none;
  color: white;

}

/* Portada Formulario END*/
/* Portada END */

/* Caracteristicas */
.caracteristiscas h3 {
  font-size: 1rem;
  text-align: center;
  color: #404040;
  margin-top: 40px;
  margin-bottom: 40px;
}

.caracteristiscas h2 {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.caracteristiscas-bg-titulo {
  background: rgb(255, 255, 255);
  background: linear-gradient(to top left, rgb(12, 26, 55), rgb(57, 79, 123));
}

.box-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.box {
  text-align: center;
  width: 230px;
  height: 250px;
  padding: 20px;
  box-shadow: 0px 5px 10px 0px rgb(194, 191, 191);
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: auto;
}

.box p {
  color: #1E335D;
  margin-top: 30px;
  font-weight: bold;
}

/* Caracteristicas END */

/* Imagenes productos  */
.espaciado {
  padding: 10px;
}

/* Imagenes productos END */

/* Accesorios */
.accesorios-bg-titulo {
  background: rgb(255, 255, 255);
  background: linear-gradient(to top left, rgb(12, 26, 55), rgb(57, 79, 123));
}

.accesorios h3 {
  font-size: 1rem;
  text-align: center;
  color: #404040;
  margin-top: 40px;
  margin-bottom: 40px;
}

.accesorios h2 {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.accesorios-bg-informacion {
  background: linear-gradient(to top left, rgb(224, 226, 230), rgb(156, 157, 159));
}

/* Accesorios END*/


/* Imagenes de Accesorios */
.imagenes-accesorios-posicion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formato img {
  width: 240px;
  height: 240px;
}

.formato p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #1E335D;
  text-align: center;
}

/* Imagenes de Accesorios END*/

/* Información */
.informacion-texto-1 {
  color: #1E335D;
  font-size: 26px;
  text-align: center;
  margin-bottom: 0%;
}

.informacion-texto-2 {
  color: #1E335D;
  font-size: 36px;
  text-align: center;
  margin-bottom: 5%;
}

.informacion-texto-3 {
  color: #404040;
  font-size: 22px;
  text-align: center;
}

.informacion-texto-4 {
  color: #1E335D;
  font-size: 36px;
  text-align: center;
}

.informacion-texto-4 p {
  color: #1E335D;
  font-size: 22px;
  text-align: center;
}

.imagen-informacion-posicion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Información END */

/* Footer */
.bg-footer {
  padding: 8%;
  background-color: #1E335D;
}

.text-footer {
  color: white;
  text-align: center;
}

/* Footer END*/


/* MEDIA QUERIES */
@media (min-width: 480px) {

  /* Portada */
  .txt-portada-1 {
    font-size: 1rem;
    color: #1E335D;
    padding-left: 40px;
    margin-bottom: 0;
  }

  .txt-portada-2 {
    font-size: 1.5rem;
    color: #1E335D;
    padding-left: 40px;
  }

  /* Portada Formulario */
  .contact-form {
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    position: sticky;
    transform: translate(6%);
    width: 400px;
    border: solid 1px #dcdada;
  }

  /* Portada Formulario END*/
  /* Portada END */

  /* Footer */
  .bg-footer {
    padding: 4%;
    background-color: #1E335D;
  }

  /* Footer END*/

}

@media (min-width: 576px) {

  /* Portada */
  .txt-portada-1 {
    font-size: 1rem;
    color: #1E335D;
    padding-left: 50px;
    margin-bottom: 0;
  }

  .txt-portada-2 {
    font-size: 1.5rem;
    color: #1E335D;
    padding-left: 50px;
  }

  /* Portada Formulario */
  .contact-form {
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    position: sticky;
    transform: translate(8%);
    width: 400px;
    border: solid 1px #dcdada;
  }

  /* Portada Formulario END*/
  /* Portada END */

}

@media (min-width: 768px) {

  /* Portada */
  .atencion {
    height: 80px;
    position: sticky;
    float: left;
  }

  .txt-portada-1 {
    font-size: 1.3rem;
    color: #1E335D;
    padding-left: 60px;
    margin-bottom: 0;
  }

  .txt-portada-2 {
    font-size: 1.8rem;
    color: #1E335D;
    padding-left: 60px;
  }

  /* Portada Formulario */
  .contact-form {
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    position: sticky;
    transform: translate(6%);
    width: 600px;
    border: solid 1px #dcdada;
  }

  .contact-form-txt h2 {
    font-size: 1.5rem;
    color: #1E335D;
    text-align: center;
  }

  .contact-form-txt h3 {
    font-size: 1rem;
    color: #1E335D;
    text-align: center;
  }

  .contact-form-txt p {
    font-size: 0.6rem;
    padding: 5px;
    margin: 0;
  }

  input,
  textarea {
    border: 0;
    outline: none;
    border: solid 1px #ccc;
    padding: 2%;
    width: 100%;
    height: 100%;
  }

  .contact-form-btn {
    background: #1E335D;
    padding: 2%;
    text-align: center;
  }

  .contact-form-btn button {
    background: none;
    border: none;
    color: white;
  }

  /* Portada Formulario END */
  /* Portada END */

  /* Caracteristicas */
  .box-padding {
    padding-top: 30px;
  }

  /* Caracteristicas END */

  /* Imagenes de Accesorios */
  .imagenes-accesorios-posicion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .formato img {
    width: 210px;
    height: 210px;
  }

  .formato p {
    font-size: 1rem;
    font-weight: bold;
    color: #1E335D;
    text-align: center;
  }
  /* Imagenes de Accesorios END*/

  /* Informacion */ 
  .informacion {
    display: flex;
  }

  .informacion-texto-1 {
    color: #1E335D;
    font-size: 1.2rem;
    margin-left: 20%;
    text-align: left;
  }

  .informacion-texto-2 {
    color: #1E335D;
    font-size: 2.2rem;
    margin-bottom: 5%;
    margin-left: 20%;
    text-align: left;
  }

  .informacion-texto-3 {
    color: #404040;
    font-size: 1.1rem;
    text-align: left;
    margin-left: 20%;
  }

  .informacion-texto-4 h3 {
    color: #1E335D;
    font-size: 1.2rem;
    text-align: left;
    letter-spacing: 3px;
    line-height: 50px;
    padding-left: 30%;
  }

  .informacion-texto-4 p {
    color: #1E335D;
    font-size: 1.1rem;
    text-align: left;
    font-weight: bold;
    padding-left: 30%;
  }

  .imagen-informacion-posicion {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
  }

  /* Informacion END */ 

  /* Footer */
  .bg-footer {
    padding: 4%;
    background-color: #1E335D;
  }

  /* Footer END*/
}

@media (min-width: 992px) {

  /* Portada */
  .atencion {
    height: 80px;
    position: sticky;
    float: left;
  }

  .txt-portada-1 {
    font-size: 1.3rem;
    color: #1E335D;
    padding-left: 200px;
    margin-bottom: 0;
  }

  .txt-portada-2 {
    font-size: 1.8rem;
    color: #1E335D;
    padding-left: 200px;
  }

  /* Portada Formulario */
  .contact-form {
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    position: sticky;
    transform: translate(30%);
    width: 600px;
    border: solid 1px #dcdada;
  }

  .contact-form-txt h2 {
    font-size: 1.5rem;
    color: #1E335D;
    text-align: center;
  }

  .contact-form-txt h3 {
    font-size: 1rem;
    color: #1E335D;
    text-align: center;
  }

  .contact-form-txt p {
    font-size: 0.6rem;
    padding: 5px;
    margin: 0;
  }

  input,
  textarea {
    border: 0;
    outline: none;
    border: solid 1px #ccc;
    padding: 2%;
    width: 100%;
    height: 100%;
  }

  .contact-form-btn {
    background: #1E335D;
    padding: 2%;
    text-align: center;
  }

  .contact-form-btn button {
    background: none;
    border: none;
    color: white;
  }

  /* Portada Formulario END*/
  /* Portada END */

  /* Caracteristicas */
  .caracteristiscas h3 {
    font-size: 1.3rem;
    text-align: center;
    color: #404040;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .caracteristiscas h2 {
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .caracteristiscas-bg-titulo {
    background: rgb(255, 255, 255);
    background: linear-gradient(to top left, rgb(12, 26, 55), rgb(57, 79, 123));
  }

  .box {
    text-align: center;
    width: 230px;
    height: 250px;
    padding: 20px;
    box-shadow: 0px 5px 10px 0px rgb(194, 191, 191);
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: auto;
  }

  .box p {
    color: #1E335D;
    margin-top: 30px;
    font-weight: bold;
  }

  /* Accesorios */
  .accesorios h3 {
    font-size: 1.3rem;
    text-align: center;
    color: #404040;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .accesorios h2 {
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /*Accesorios END*/

  /* Imagenes de Accesorios */
  .imagenes-accesorios-posicion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .formato img {
    width: 310px;
    height: 310px;
  }

  .formato p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #1E335D;
    text-align: center;
  }

  /* Imagenes de Accesorios END*/

  /* Informacion */ 
  .informacion {
    display: flex;
  }

  .informacion-texto-1 {
    color: #1E335D;
    font-size: 1.4rem;
    margin-left: 30%;
    text-align: left;
  }

  .informacion-texto-2 {
    color: #1E335D;
    font-size: 2.6rem;
    margin-bottom: 5%;
    margin-left: 30%;
    text-align: left;
  }

  .informacion-texto-3 {
    color: #404040;
    font-size: 1.4rem;
    text-align: left;
    margin-left: 30%;
  }

  .informacion-texto-4 h3 {
    color: #1E335D;
    font-size: 1.8rem;
    text-align: left;
    letter-spacing: 3px;
    padding-left: 30%;
  }

  .informacion-texto-4 p {
    color: #1E335D;
    font-size: 1.6rem;
    text-align: left;
    font-weight: bold;
    padding-left: 30%;
  }

  .imagen-informacion-posicion {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
  }

  /* Informacion END */

  /* Footer */
  .bg-footer {
    padding: 3%;
    background-color: #1E335D;
  }

  .text-footer {
    font-size: 1.2rem;
  }

  /* Footer END*/
}

@media (min-width: 1200px) {

  /* Header*/
  .home .logo {
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 5%;
  }

  .tel {
    text-align: end;
    vertical-align: middle;
    color: rgb(12, 3, 54);
    margin-top: 60px;
    font-size: 1.6rem;
    padding-right: 5%;
  }

  /* Header END */

  /* Portada */
  #portada {
    background-image: url(/Links/Portada.jpg);
    background-size: cover;
    height: auto;
    background-position: 10% 50%;
  }

  .atencion {
    height: 90px;
    position: sticky;
    float: left;
  }

  .txt-portada-1 {
    font-size: 1.5rem;
    color: #1E335D;
    padding-left: 60px;
    margin-bottom: 0;
  }

  .txt-portada-2 {
    font-size: 2.7rem;
    color: #1E335D;
    padding-left: 60px;
  }

  /* Portada Formulario */
  .contact-form {
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    position: sticky;
    transform: translateX(110%);
    width: 500px;
    border: solid 1px #dcdada;
  }

  .contact-form-txt h2 {
    font-size: 1.5rem;
    color: #1E335D;
    text-align: center;
  }

  .contact-form-txt h3 {
    font-size: 1rem;
    color: #1E335D;
    text-align: center;
  }

  .contact-form-txt p {
    font-size: 1.2rem;
    padding: 5px;
    margin: 0;
  }

  input,
  textarea {
    border: 0;
    outline: none;
    border: solid 1px #ccc;
    padding: 2%;
    width: 100%;
    height: 100%;
  }

  .contact-form-btn {
    background: #1E335D;
    padding: 2%;
    text-align: center;
  }

  .contact-form-btn button {
    background: none;
    border: none;
    color: white;
  }

  /* Portada Formulario END*/
  /* Portada END */

  /* Caracteristicas */
  .caracteristiscas h3 {
    font-size: 1.6rem;
    text-align: center;
    color: #404040;
    margin-top: 40px;
    margin-bottom: 40px;
    /*padding-left: 190px;
    padding-right: 190px;
    */
  }

  .caracteristiscas h2 {
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 190px;
    padding-right: 190px;
  }

  .caracteristiscas-bg-titulo {
    background: rgb(255, 255, 255);
    background: linear-gradient(to top left, rgb(12, 26, 55), rgb(57, 79, 123));
  }

  .box {
    width: 230px;
    height: 250px;
    padding: 20px;
    box-shadow: 0px 5px 10px 0px rgb(194, 191, 191);
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: auto;
  }

  .box p {
    color: #1E335D;
    text-align: center;
    font-weight: bold;
  }

  /* Accesorios */
  .accesorios h3 {
    font-size: 1.6rem;
    text-align: center;
    color: #404040;
    margin-top: 40px;
    margin-bottom: 40px;
   /* padding-left: 190px;
    padding-right: 190px;
   */
  }

  .accesorios h2 {
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /*Accesorios END*/

  /* Imagenes de Accesorios */
  .imagenes-accesorios-posicion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .formato img {
    width: 310px;
    height: 310px;
    margin-left: 0px;
  }

  .formato p {
    font-size: 1.3rem;
    font-weight: bold;
    color: #1E335D;
    text-align: center;
  }

  /* Imagenes de Accesorios END*/

  /* Información */
  .informacion {
    display: flex;
  }

  .informacion-texto-1 {
    color: #1E335D;
    font-size: 26px;
    margin-left: 40%;
    text-align: left;
  }

  .informacion-texto-2 {
    color: #1E335D;
    font-size: 3rem;
    margin-bottom: 5%;
    margin-left: 40%;
    text-align: left;
  }

  .informacion-texto-3 {
    color: #404040;
    font-size: 1.5rem;
    text-align: left;
    margin-left: 40%;
  }

  .informacion-texto-4 {
    color: #1E335D;
    font-size: 36px;
  }

  .informacion-texto-4 h3 {
    color: #1E335D;
    font-size: 2rem;
    text-align: left;
    letter-spacing: 3px;
    line-height: 50px;
    padding-left: 30%;
  }

  .informacion-texto-4 p {
    color: #1E335D;
    font-size: 1.7rem;
    text-align: left;
    font-weight: bold;
    padding-left: 30%;
  }

  .imagen-informacion-posicion {
    display: flex;
    flex-direction: column;
    margin-left: 40%;
  }

  .placa {
    z-index: 1;
    position: relative;
    background-color: #F2F2F2;
    height: 600px;
    width: 650px;
  }

  /* Información END */

  /* Footer */
  .bg-footer {
    padding: 2%;
    background-color: #1E335D;
  }

  .text-footer {
    font-size: 1.4rem;
  }
  /* Footer END*/
}

@media (min-width: 1400px) {

  /* Header*/
  .home .logo {
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 5%;
  }

  .tel {
    text-align: end;
    vertical-align: middle;
    color: rgb(12, 3, 54);
    margin-top: 60px;
    font-size: 1.6rem;
    padding-right: 5%;
  }

  /* Header END */

  /* Portada */
  #portada {
    background-image: url(/Links/Portada.jpg);
    background-size: cover;
    height: auto;
    background-position: 0% 50%;
  }

  .atencion {
    height: 90px;
    position: sticky;
    float: left;
  }

  .txt-portada-1 {
    font-size: 1.5rem;
    color: #1E335D;
    padding-left: 60px;
    margin-bottom: 0;
  }

  .txt-portada-2 {
    font-size: 2.7rem;
    color: #1E335D;
    padding-left: 60px;
    padding-top: 60px;
  }

  /* Portada Formulario */
  .contact-form {
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    position: sticky;
    transform: translateX(150%);
    width: 500px;
    border: solid 1px #dcdada;
  }

  .contact-form-txt h2 {
    font-size: 1.5rem;
    color: #1E335D;
    text-align: center;
  }

  .contact-form-txt h3 {
    font-size: 1rem;
    color: #1E335D;
    text-align: center;
  }

  .contact-form-txt p {
    font-size: 1rem;
    padding: 5px;
    margin: 0;
  }

  input,
  textarea {
    border: 0;
    outline: none;
    border: solid 1px #ccc;
    padding: 2%;
    width: 100%;
    height: 100%;
  }

  .contact-form-btn {
    background: #1E335D;
    padding: 2%;
    text-align: center;
  }

  .contact-form-btn button {
    background: none;
    border: none;
    color: white;
  }

  /* Portada Formulario END*/
  /* Portada END */

  /* Caracteristicas */
  .caracteristiscas h3 {
    font-size: 1.6rem;
    text-align: center;
    color: #404040;
    margin-top: 40px;
    margin-bottom: 40px;
    /*padding-left: 190px;
    padding-right: 190px;
    */
  }

  .caracteristiscas h2 {
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 190px;
    padding-right: 190px;
  }

  .caracteristiscas-bg-titulo {
    background: rgb(255, 255, 255);
    background: linear-gradient(to top left, rgb(12, 26, 55), rgb(57, 79, 123));
  }

  .box {
    width: 230px;
    height: 250px;
    padding: 20px;
    box-shadow: 0px 5px 10px 0px rgb(194, 191, 191);
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: auto;
  }

  .box p {
    color: #1E335D;
    text-align: center;
    font-weight: bold;

  }

  /* Accesorios */
  .accesorios h3 {
    font-size: 1.6rem;
    text-align: center;
    color: #404040;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 190px;
    padding-right: 190px;
  }

  .accesorios h2 {
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /*Accesorios END*/

  /* Imagenes de Accesorios */
  .imagenes-accesorios-posicion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .formato img {
    width: 310px;
    height: 310px;
    margin-left: 0px;
  }

  .formato p {
    font-size: 1.3rem;
    font-weight: bold;
    color: #1E335D;
    text-align: center;
  }

  /* Imagenes de Accesorios END*/

  /* Información */
  .informacion {
    display: flex;
  }

  .informacion-texto-1 {
    color: #1E335D;
    font-size: 26px;
    margin-left: 40%;
    text-align: left;
  }

  .informacion-texto-2 {
    color: #1E335D;
    font-size: 3rem;
    margin-bottom: 5%;
    margin-left: 40%;
    text-align: left;
  }

  .informacion-texto-3 {
    color: #404040;
    font-size: 1.5rem;
    text-align: left;
    margin-left: 40%;
  }

  .informacion-texto-4 {
    color: #1E335D;
    font-size: 36px;
  }

  .informacion-texto-4 h3 {
    color: #1E335D;
    font-size: 2rem;
    text-align: left;
    letter-spacing: 3px;
    line-height: 50px;
    padding-left: 30%;
  }

  .informacion-texto-4 p {
    color: #1E335D;
    font-size: 1.7rem;
    text-align: left;
    font-weight: bold;
    padding-left: 30%;
  }

  .imagen-informacion-posicion {
    display: flex;
    flex-direction: column;
    margin-left: 40%;
  }

  .placa {
    z-index: 1;
    position: relative;
    background-color: #F2F2F2;
    height: 600px;
    width: 650px;
  }

  /* Información END */

  /* Footer */
  .bg-footer {
    padding: 2%;
    background-color: #1E335D;
  }

  .text-footer {
    font-size: 1.4rem;
  }

  /* Footer END*/

}


@media (min-width: 1600px) {}