/* Header */
.home .logo {
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 10px;
}

.tel {
  text-align: center;
  margin-bottom: 20px;
  color: #1E335D;
  font-size: 1.2rem;
}
/* Header END */


/* Portada */
#portada {
  background-image: url(/Links/Portada.jpg);
  background-size: cover;
  height: auto;
  background-position: 10% 50%;
}

.atencion {
  height: 60px;
  position: sticky;
  float: left;
}

.txt-portada-1 {
  font-size: 1rem;
  color:#1E335D;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0;
  
}

.txt-portada-2 {
  font-size: 1.5rem;
  color: #1E335D;
  padding-left: 20px;
}

/* Portada Formulario */
.contact-form {
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  position: sticky;
  transform: translate(2%);
  width: 300px;
  border: solid 1px #dcdada;
}

.contact-form-txt h2 {
  font-size: 1rem;
  color: #1E335D;
  text-align: center;
}

.contact-form-txt h3 {
  font-size: 0.6rem;
  color: #1E335D;
  text-align: center;
}

.contact-form-txt p {
  font-size: 0.6rem;
  padding: 5px;
  margin: 0;
}

input,
textarea {
  border: 0;
  outline: none;
  border: solid 1px #ccc;
  padding: 2%;
  width: 100%;
  height: 100%;
}

label {
  padding: -initial;
}

.contact-form-btn {
  background: #1E335D;
  padding: 2%;
  text-align: center;
}

.contact-form-btn button {
  background: none;
  border: none;
  color: white;

}
/* Portada Formulario END*/
/* Portada END */


/* Caracteristicas */
.caracteristiscas h3 {
  font-size: 1rem;
  text-align: center;
  color: #404040;
  margin-top: 40px;
  margin-bottom: 40px;
}

.caracteristiscas h2 {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.caracteristiscas-bg-titulo {
  background: rgb(255, 255, 255);
  background: linear-gradient(to top left, rgb(12, 26, 55), rgb(57, 79, 123));
}

.box-padding {
  padding-top: 30px;
  padding-bottom: 20px;
}

.box {
  text-align: center;
  width: 230px;
  height: 250px;
  padding: 20px;
  box-shadow: 0px 5px 10px 0px rgb(194, 191, 191);
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: auto;

}

.box p {
  color: #1E335D;
  margin-top: 30px;
  font-weight: bold;
}
/* Caracteristicas END */


/* Imagenes productos  */
/* Imagenes productos END */


/* Accesorios */
.accesorios-bg-titulo {
  background: rgb(255, 255, 255);
  background: linear-gradient(to top left, rgb(12, 26, 55), rgb(57, 79, 123));
}

.accesorios h3 {
  font-size: 1rem;
  text-align: center;
  color: #404040;
  margin-top: 40px;
  margin-bottom: 40px;
}

.accesorios h2 {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.accesorios-bg-informacion {
  background: linear-gradient(to top left, rgb(224, 226, 230), rgb(156, 157, 159));
}

/* Accesorios END*/


/* Imagenes de Accesorios */

.imagenes-accesorios-posicion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formato img {
  width: 240px;
  height: 240px;
}

.formato p {
  font-size: 1.2rem;
  font-weight: bold;
  color:#1E335D;
  text-align: center;
}

/* Imagenes de Accesorios END*/


/* Información */

.informacion-texto-1 {
  color: #1E335D;
  font-size: 26px;
  text-align: center;
  margin-bottom: 0%;
}

.informacion-texto-2 {
  color: #1E335D;
  font-size: 36px;
  text-align: center;
  margin-bottom: 5%;
}

.informacion-texto-3 {
  color: #404040;
  font-size: 22px;
  text-align: center;
}

.informacion-texto-4 {
  color: #1E335D;
  font-size: 36px;
  text-align: center;
}

.informacion-texto-4 p {
  color: #1E335D;
  font-size: 22px;
  text-align: center;
}
.imagen-informacion-posicion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Información END */



/* Footer */

.bg-footer {
  padding: 8%;
  background-color: #1E335D;
}

.color {
  color: white;
  text-align: center;
}

/* Footer END*/





/* MEDIA QUERIES */
@media (min-width: 480px) {}

@media (min-width: 576px) {}

@media (min-width: 768px) {

  /* Header */

  .home .logo {
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .tel {
    text-align: end;
    vertical-align: middle;
    color: rgb(12, 3, 54);
    margin-top: 60px;
    font-size: 1.5rem;
  }

  /* Header END */

  /* Portada */

  .portada img {
    display: inline;
  }

  .portada p {
    display: inline;
    font-size: 2rem;
    color: #213363;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  /* Portada END*/

}








@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

@media (min-width: 1600px) {}